Repository SanjoDB/microservice-app-example: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/auth-api-dev.yml, .azure-pipelines/deploy-Production.yml, .azure-pipelines/frontend-dev.yml, .azure-pipelines/log-message-processor-dev.yml, .azure-pipelines/pullRequest-Validation.yml, .azure-pipelines/todos-api-dev.yml, .azure-pipelines/users-api-dev.yml

.azure-pipelines/auth-api-dev.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    jobs:
    - job: BuildAuthApi
      displayName: Build y Deploy de Auth API
      steps:
      - checkout: self
      - task: CopyFilesOverSSH@0
        inputs:
          sshEndpoint: VM-DEV-CONNECTION
          sourceFolder: $(service_dir)
  ...

.azure-pipelines/deploy-Production.yml:
  stages:
  - stage: DeployToProduction
    displayName: Desplegar a producción desde master
    jobs:
    - job: DeployToProd
      displayName: Actualizar código y compilar todos los servicios
      steps:
      - checkout: self
        clean: true
        fetchDepth: 0
        persistCredentials: true
  ...

.azure-pipelines/frontend-dev.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    jobs:
    - job: DeployFrontend
      displayName: Deploy Frontend
      steps:
      - checkout: self
      - task: CopyFilesOverSSH@0
        inputs:
          sshEndpoint: VM-DEV-CONNECTION
          sourceFolder: $(service_dir)
  ...

.azure-pipelines/log-message-processor-dev.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    jobs:
    - job: DeployLogProcessor
      displayName: Deploy log-message-processor
      steps:
      - checkout: self
        clean: true
        fetchDepth: 0
        persistCredentials: true
      - task: CopyFilesOverSSH@0
        inputs:
  ...

.azure-pipelines/pullRequest-Validation.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ValidatePR
    displayName: Validar Pull Request
    jobs:
    - job: BuildValidation
      displayName: Validar compilación de todos los servicios
      steps:
      - checkout: self
      - task: DockerInstaller@0
        inputs:
          dockerVersion: 20.10.7
  ...

.azure-pipelines/todos-api-dev.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    jobs:
    - job: BuildTodosApi
      displayName: Build de TODOs API
      steps:
      - checkout: self
        clean: true
        fetchDepth: 0
        persistCredentials: true
      - task: CopyFilesOverSSH@0
        inputs:
  ...

.azure-pipelines/users-api-dev.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndDeploy
    jobs:
    - job: BuildAuthApi
      displayName: Build y Deploy de Auth API
      steps:
      - checkout: self
      - task: CopyFilesOverSSH@0
        inputs:
          sshEndpoint: VM-DEV-CONNECTION
          sourceFolder: $(service_dir)
  ...

test commit 2
  log-message-processor/main.py
Due: .azure-pipelines/deploy-Production.yml, .azure-pipelines/log-message-processor-dev.yml, .azure-pipelines/pullRequest-Validation.yml

Fix retry file wasnt in docker
  log-message-processor/Dockerfile
  log-message-processor/retry.py
Due: .azure-pipelines/deploy-Production.yml, .azure-pipelines/log-message-processor-dev.yml, .azure-pipelines/pullRequest-Validation.yml

Implement Circuit breaker in Auth api
  auth-api/main.go
  auth-api/user.go
Due: .azure-pipelines/auth-api-dev.yml, .azure-pipelines/deploy-Production.yml, .azure-pipelines/pullRequest-Validation.yml

a
  auth-api/user.go
Due: .azure-pipelines/auth-api-dev.yml, .azure-pipelines/deploy-Production.yml, .azure-pipelines/pullRequest-Validation.yml

?
  auth-api/main.go
  auth-api/user.go
Due: .azure-pipelines/auth-api-dev.yml, .azure-pipelines/deploy-Production.yml, .azure-pipelines/pullRequest-Validation.yml

aaa
  auth-api/circuit_breaker.go
  auth-api/main.go
Due: .azure-pipelines/auth-api-dev.yml, .azure-pipelines/deploy-Production.yml, .azure-pipelines/pullRequest-Validation.yml

asdad
  auth-api/main.go
Due: .azure-pipelines/auth-api-dev.yml, .azure-pipelines/deploy-Production.yml, .azure-pipelines/pullRequest-Validation.yml

Implement circuit breaker in todos api
  todos-api/circuit_breaker.js
  todos-api/todoController.js
Due: .azure-pipelines/deploy-Production.yml, .azure-pipelines/pullRequest-Validation.yml, .azure-pipelines/todos-api-dev.yml

Implement circuit_breaker in log messager
  log-message-processor/Dockerfile
  log-message-processor/circuit_breaker.py
  log-message-processor/main.py
Due: .azure-pipelines/deploy-Production.yml, .azure-pipelines/log-message-processor-dev.yml, .azure-pipelines/pullRequest-Validation.yml

?
  log-message-processor/main.py
Due: .azure-pipelines/deploy-Production.yml, .azure-pipelines/log-message-processor-dev.yml, .azure-pipelines/pullRequest-Validation.yml

Update Docs
  README.md
  arch-img/Diagrama.png
Due: .azure-pipelines/deploy-Production.yml, .azure-pipelines/pullRequest-Validation.yml

Prueba de cambios 1
  frontend/src/components/Login.vue
Due: .azure-pipelines/deploy-Production.yml, .azure-pipelines/frontend-dev.yml, .azure-pipelines/pullRequest-Validation.yml

Undu test
  frontend/src/components/Login.vue
Due: .azure-pipelines/deploy-Production.yml, .azure-pipelines/frontend-dev.yml, .azure-pipelines/pullRequest-Validation.yml

Test Demo
  frontend/src/components/Login.vue
Due: .azure-pipelines/deploy-Production.yml, .azure-pipelines/frontend-dev.yml, .azure-pipelines/pullRequest-Validation.yml

Path conditions:
  .azure-pipelines/auth-api-dev.yml: any of: auth-api
  .azure-pipelines/deploy-Production.yml: any of: *
  .azure-pipelines/frontend-dev.yml: any of: frontend
  .azure-pipelines/log-message-processor-dev.yml: any of: log-message-processor
  .azure-pipelines/pullRequest-Validation.yml: any of: *
  .azure-pipelines/todos-api-dev.yml: any of: todos-api
  .azure-pipelines/users-api-dev.yml: any of: users-api
